$colors: (
  "primary": #666666,
  "grey": #999,
  "dark": #222,
  "nav":rgba(148, 143, 143, 0.356), //顶部navbar
  "footer":rgba(148, 143, 143, 0.438), //页脚
  "white":rgba(255, 255, 255, 0.76),
  "articleBox":rgba(111, 141, 161, 0.719), //文章卡片
  "articleBoxArticle":rgba(83, 130, 161, 0.808), //文章卡片
  "title":rgb(202, 230, 248) ,//文章标题
  "font":rgb(58, 56, 56),//文章字体颜色 
  "test":rgb(250, 0, 0)
);

// 参考 bootstrap栅栏系统css中的col-xs-*、col-sm-*、col-md-* 的意义
// .col-xs- 超小屏幕 手机 (<768px)
// .col-sm- 小屏幕 平板 (≥768px)
// .col-md- 中等屏幕 桌面显示器 (≥992px)
// .col-lg- 大屏幕 大桌面显示器 (≥1200px)
$base-font-size: 7rem;
$font-sizes: (
  xxs: 0.1067,
  //8px
    xs: 0.1333,
  //10px
    sm: 0.16,
  //12px
    md: 0.1733,
  //13px
    lg: 0.1867,
  //14px
    xl: 0.2133,
  //16px
);

$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);

$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch,
);

$spacing-types: (
  m: margin,
  p: padding,
);

$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

$spacing-base-size: 1rem;

$spacing-sizes: (
  0: 0,
  1: 0.1,
  2: 0.15,
  3: 0.2,
  4: 0.25,
  5: 0.3,
  6: 0.4,
  7: 0.6,
  8: 1,
);
